@import "compass/typography/lists/bullets"
@import "compass/css3/border-radius"

body
  background-color: #FBFBFB
  margin: 0
  font-family: 'Lucida Grande', Arial, sans-serif

.header
  background-color: #333
  color: #E1E1E1
  padding: 10px 20px

  h1
    font-size: 1.6em
    margin: 0

.content
  padding-left: 40px

.new-entry input
  width: 60%
  font-size: 1.2em
  border: 1px solid #DDD
  +border-radius(4px, 4px)
  padding: 15px
  margin: 40px 0

.entry-list
  color: #333
  h2
    color: #555
  ul
    +no-bullets
    padding: 0
    margin-bottom: 40px

    li
      padding: 8px 0
