body
  background-color: #FBFBFB
  margin: 0
  font-family: 'Lucida Grande', Arial, sans-serif

.header
  background-color: #333
  color: #E1E1E1
  padding: 10px 20px

  h1
    font-size: 1.6em
    margin: 0

.content
  padding-left: 20px
