# See http://help.github.com/ignore-files/ for more about ignoring files.

/ember/dist
/ember/tmp
/ember/node_modules
/ember/bower_components
/ember/.sass-cache
/ember/connect.lock
/ember/coverage/*
/ember/libpeerconnection.log
/ember/npm-debug.log
/ember/testem.log

/rails/.bundle
/rails/log/*
!/log/.keep
/rails/tmp
/rails/config/database.yml